@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
$docs-modal-color: #e9ecef;

body {
  background-color: $docs-modal-color;
  font-family: 'Roboto', sans-serif;
}
.App {
  min-height: 100vh;

}
