$main-blue: #00BFFF;
$hover-blue: #00BFFF + 30;
$second-main-blue: #444;
$docs-modal-color: #e9ecef;



.header {
  background: transparent !important;

  .test {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: -20;
  }

  .flex-even {
    flex: 1 0 25%; /* explanation below */
    margin: 0 5px 10px;
  }
  .logoholder {
    height: 85px !important;

  }

  .iconholder {
    color: $main-blue;
    i {
      font-size: 30px;
    }
    p {
      font-size: 12px;
      margin: 3px 0px 0px 0px;
    }



    &:hover {
      color: $hover-blue;
      cursor: pointer;
    }
  }

}

@media (max-width: 767px) { 
  .header {
    background: #fff !important;
    .iconholder {
      i {
        width: 50px;
        margin: 5px 0px;
      }
      p {
        font-size: 20px;
        margin: 3px 0px 0px 0px;
      }

    }
  }
}