$main-blue: #00BFFF;
$hover-blue: #00BFFF + 30;
$second-main-blue: #444;

.header-bg {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(255,255,255,0));

}

.header {
  .clock {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }

  .logoholder {
    img {
      height: 85px;
    }

  }

  .iconholder {
    color: $main-blue;
    i {
      font-size: 30px;
    }
    p {
      font-size: 12px;
      margin: 3px 0px 0px 0px;
    }

    &:hover {
      color: $hover-blue;
      cursor: pointer;
    }
  }

}